*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    font-family: helvetica;
    position: fixed;
    padding: 20px;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #14a1bc;
}

.cabecalho h1,
.cabecalho h2{
    font-family: helvetica;
    padding: 20px;
}

.lateral{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #093041;
    padding: 35px;
    height: 96%;
    color: white;
    margin-left: 30px;
    font-family: Arial;
}

.lateral img{
    background-color: white;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.lateral h2{
    border: solid 1px;
    border-color: #14a1bc;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-family: helvetica;
}

.lateral h3{
    font-size: 15px;
    margin-top: 10px;
    text-align: left;
    padding: 3px;
    font-weight: 100;
}

.central{
    position: absolute;
    margin-top: 200px;
    margin-left: 500px;
    text-align: left;
}

.central h2{
    font-size: 35px;
    border: solid 1px;
    border-color: #14a1bc;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-family: helvetica;
    
}


.central li{
    font-family: Helvetica;
    font-size: 25px;
    padding: 4px;
}

.formacao{
    position: absolute;
    margin-top: 200px;
    margin-left: 1100px;
}

.formacao h2{
    font-size: 35px;
    border: solid 1px;
    border-color: #14a1bc;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-family: helvetica;
}

.formacao h3{
    font-size: 30px;
    font-weight: normal;
    font-family: helvetica;
}

.formacao li{
    font-family: helvetica;
    font-size: 25px;
    padding: 8px;
}




@media(max-height: 810px){
    .central{
        margin-top: 210px;
    }
    .central h2{
        font-size: 30px;
    }

    .central li{
        font-size: 20px;
    }

    .formacao{
        margin-top: 210px;
    }

    .formacao h2{
        font-size: 30px;
    }

    .formacao li{
        font-size: 20px;
    }

    .formacao h3{
        font-size: 25px;
    }


}


@media(max-width: 1600px){
    .central{
        margin-left: 450px;
    }
    .formacao{
        margin-left: 1050px;
    }
}

@media(max-width: 1550px){
    .central{
        margin-left: 400px;
    }
    .formacao{
        margin-left: 1000px;
    }
}

@media(max-width: 1420px){
    .central{
        margin-left: 350px;
    }
    .formacao{
        margin-left: 950px;
    }
}